[Unit]
Description=nginx prometheus exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter \
  --web.listen-address=":9113" \
  --nginx.scrape-uri="http://127.0.0.1:8080/stub_status"
Restart=always
RestartSec=5s
User=nobody

[Install]
WantedBy=multi-user.target
EOF